            </div>
        </div>
    <script src="/js/main.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    

        <script>
            $(document).ready(function () {
                const table = $('#myTable').DataTable({
                    pageLength: 6,
                    language: {
                        /* search: "_INPUT_",
                        searchPlaceholder: "Search...", */
                        info: "_START_ - _END_ / _TOTAL_",
                        infoEmpty: "0 entries",
                        infoFiltered: "(from _MAX_ total)",
                        paginate: {
                            next: "<i class='bx bx-chevrons-right'></i>",
                            previous: "<i class='bx bx-chevrons-left'></i>"
                        }
                    },
                    dom: 'rt<"d-flex flex-row-reverse justify-content-between mt-4"ip>'
                  
                });
                
                $('#searchInput').on( 'keyup', function () {
                    table.search( this.value ).draw();
                } );  
    
            });
        </script>
     
    
   
    </body>
</html>